
{% block footer %}
  <footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Términos y Condiciones</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Términos de Uso</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><a href="mailto:contacto@example.com" class="text-white">Email: contacto@example.com</a></li>
            <li><a href="tel:2291882961" class="text-white">Teléfono 1 : 229 188 2961</a></li>
            <li><a href="tel:2291882961" class="text-white">Teléfono 2 : 443 691 1607</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2025 A.E.P.I.</p>
    </div>
  </footer>
{% endblock %}


